################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.cache
.vs/
*/obj/*
*/obj/Debug/*
*/obj/Release/netcoreapp2.1/*
*/bin/*
*/bin/Debug/*
*/bin/Release/netcoreapp2.1/*
